.preview-image {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Esto alinea la imagen al lado derecho */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 20px;
}

.preview-image img {
    width: 300px;
    height: auto; /* Ajusta la altura autom치ticamente */
    object-fit: cover;
}

  /* bot칩n de estado "Creada" */
.created-state-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* bot칩n de estado "En proceso" */
  .in-progress-state-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* bot칩n de estado "Cerrado" */
  .closed-state-button {
    background-color: rgb(216, 112, 27);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }